
  .AddTask{
      display: flex;
      flex: 1;
      width: 100%;
      position: sticky;
  }
  .todo-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
  }
  
  .todo-input {
    padding: 10px 32px 10px 16px;
    border-radius: 4px 4px 4px 4px;
    border: 2px solid #1976D2;
    outline: none;
    font-size: 14px;
    background: #ffffff !important;
    color: #000000;
    box-shadow: 0px 8px 18px -9px rgba(0, 0, 0, 0.75);
  }
  
  .todo-input::placeholder {
    color: #e2e2e2;
  }
  
  .AddCircleIcon{
    color: #1976D2;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left : 10px;
    cursor: pointer;
  }
  
  

  