.header{
    background-color: #1976D2 !important;
    display: flex;
    align-items: center !important;
    padding: 0px 20px 0px 50px;
    object-fit: contain;
    position: sticky;
    box-shadow: 0px 5px 8px -9px rgba(0,0,0,0.75);
    top: 0;
    justify-content: space-between;
    z-index: 100;
}

.header__h1{
  background-color: #1976D2 !important;
  margin: 32px 0;
  color: #FFFFFF !important;
  font-size: 24px;
}


.header__logo{
    width: 100px !important;
    margin: 0 20px !important;
    object-fit: contain !important;
    text-decoration: none;
    font-size: 40px !important;
    background-color: #1976D2 !important;
}


.header__search{
    display: flex;
    flex: 1;
    background-color: #4a88c6;
    border-radius: 5px;
    margin: 0 10px;
    
  }
  
.header__searchInput{
background-color: rgba(76, 175, 80, 0);
font-size: 16px;
height: 44px;
border : none;
color: #FFFFFF ;
border-color:#4a88c6;
box-shadow: 0;
outline-width: 0;
border-radius: 5px;
padding: 7px 16px 9px;
padding-top: 12px;
width: 100%
}

.header__searchIcon{
color: #FFFFFF;
margin-top: 10px;
margin-bottom: 10px;
background-color: rgba(76, 175, 80, 0);
margin-left : 10px;
cursor: pointer;

}

.header__search:hover {
background-color: #5398DD;
}



::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgb(214, 214, 214);
  }
