h1 {
  margin: 32px 0;
  color: #000000;
  font-size: 14px;
}

.complete {
  text-decoration: line-through !important;

}
 
.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #000000;
  background: #FFFFFF;
  box-shadow: 0px 8px 18px -9px rgba(0, 0, 0, 0.75);
  padding: 16px;
  border-radius: 5px;
  width: 70%;
  font-size: 14px;
  transition: transform 100ms ease-in;
}

.todo-row:hover {
  transform: scale(1.07);
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  background-color: #FFFFFF;
}

.delete-icon {
  margin-right: 5px;
  color: #000000;
  background-color: #FFFFFF;
}

.edit-icon {
  color: #000000;
  background-color: #FFFFFF;
}

.c{
display: flex;
flex-direction: row;
background-color: #FFFFFF;
align-items: center;
width: 100%;
}

.edit_input{
  border:none !important;
  flex: 1;
  background-color: white;
  border-bottom: 1px solid !important;
  border-bottom-color: black !important;
  outline: none !important
}

